
@{
    @model IEnumerable<CakeShop.Models.Cake>;
    ViewData["Title"] = "Home Page";
}

<div>
    <partial>
        @await Html.PartialAsync("carousel")
    </partial>
</div>
<br />
<div class="weekly-getting">
    <h3> We have the best cakes only for you!</h3>
</div>
<br />

<div class="row">
    @if (Model != null)
    {
        @foreach (var cake in Model)
        {

            @await Html.PartialAsync("CakeView", cake);

        }
    }
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />






