@model IEnumerable<Ciocoholia.Models.Cake>
@{
    ViewData["Title"] = "Manage products";
}
<h2>Manage products</h2>
<br />
<div>
    <a asp-action="AddCake" class="btn buy-now-btn">Add a new cake</a>
</div>
<br />
<table class="table ">
    <thead>
        <tr>
            <th>Product name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cake in Model)
        {
            <tr id="cake-@cake.Id">
                <td>@cake.Name</td>
                <td>
                    <a class="btn btn-link btn-no-effect" asp-controller="Management" asp-action="EditCake" asp-route-id="@cake.Id">Edit </a>
                    |
                    <a class="btn btn-link" asp-controller="Management" asp-action="DeleteCake" asp-route-id="@cake.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>