
@{
    ViewData["Title"] = "Comandă plasată";
}
<h2>Comandă plasată</h2>

<p>Vă mulțumim pentru alegerea făcută! </p>
<p> Veți fii contactat de unul dintre colegii noștrii în cel mai scurt posibil!</p>

<br />
<p>
    Doriți să efectuați altă comandă? 
    <a href="/">Click aici</a>
</p>

<p>
    Verificați detalile comenzii plasate
    <a href="/order/myordercontent">Click aici</a>
</p>
