
@{
    ViewData["Title"] = "Order placed";
}
<h2>Order placed successfully</h2>

<p>Thank you for your order!</p>
<p>You will be contacted by one of our colleague as soon as possible!</p>

<br />
<p>
    Do you wish to make another order? 
    <a href="/">Click here</a>
</p>

<p>
    Check you order details here:
    <a href="/order/myordercontent">Click here</a>
</p>
