@model IEnumerable<CakeShop.Models.Cake>

<h1>Prăjituri</h1>
@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var cake in Model)
        {
            @await Html.PartialAsync("CakeView", cake);
        }
    </div>
}
else
{
    <p>Ne pare rău, dar nu am găsit nicio prăjitură! </p>
}
