@{ 
    ViewData["Title"] = "Contact Page";
}
<h2>Contactact us!</h2>

<div>
    <div class="float-left">
        <p>If tou have any suggestions or complaints, do not hesitate to contact us!</p>
        <h4> Program:</h4>
        <h6> Monday - Friday: 9:30 AM - 6:00 PM </h6>
        <h6> Saturday - Sunday: 10:00 AM - 3:00 PM</h6>
        <h4> Address: </h4>
        <h6> Mihai Eminescu Street, no 11, Sector 1, Bucharest</h6>
        <p>Also, you can contact us by phone: <b>0768970023</b>!</p>
    </div>
    <div class="float-right">
        <img src="~/img/Contact.jpg" draggable="false" class="float-right card" id="boxshadow"/>
    </div>
</div>
