@{
    ViewData["Title"] = "Feedback received";
}
    <h2>Feedback received</h2>

<p>Thank you for your time and interest! </p>
<p>We guarantee that you opinion will be further discussed as we try to do our best to make you better enjoy our services!</p>